<!DOCTYPE html>
<!-- <html lang="en" ng-app="DevMtn"> -->

<head>
	<!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMtin</title> -->
	<!-- <link rel="stylesheet" type="text/css" href="styles/style.css"> -->
	<link rel="stylesheet" type="text/css" href="styles/landing.css">
</head>

<body>
	<!-- <header> -->
		<!-- <img src="images/Icons/Back-Arrow.svg"> -->
		<!-- <div class= "icon" id="headerTriangle"></div> -->
		<!-- <span class="icon">DevMountain</span> -->
    <!-- <img class="icon" src="images/Icons/Search.svg"> -->
		<!-- <img src="images/Icons/Ham.svg"> -->
	<!-- </header> -->
	<form>
		<p class="name">{{newUser.name}}</p>
		<p class="tagline">{{newUser.tagline}}</p>
    <p class="bio">{{newUser.bio}}</p>
	</form>
	<div class="triangleContainer">
		<div class="greyTriangle"></div>
		<div class="blueTriangle" ng-style="{'background-image':'url({{newUser.profileUrl}})'}"></div>

  </div>
	<!-- <footer>
		<a href="">View Friends</a>
		<a href="">Find Friends</a>
		<a href="">Update Profile</a>
	</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/secondCtrl.js"></script>
	<script src="js/dataService.js"></script>
</body>
</html> -->
